body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFDF00;
}

.board{
    border: 2px solid red;
    border-radius: 10px;
    height: 600px;
    width: 600px;
    display: grid;
    margin-bottom: 20px;
}

h1 {
    margin-left: 150px;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 50px;
}

.mode {
    margin-left: 150px;
    font-weight: bolder;
}

button {
    border: 3px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
}

.black {
    background-color: black;
    color: white;
    margin-right: 40px;
    margin-left: 20px;
    font-weight: bolder;
}

.eraser {
    background-color: white;
    color: black;
    font-weight: bolder;
    margin-right: 50px;
}

.gray {
    background-color: gray;
    color: white;
    font-weight: bolder;
    margin-right: 40px;
}

.random {
    background-image: linear-gradient(red, yellow, black, green);
    color: white;
    font-weight: bolder;
    margin-right: 40px;
}

.reset {
    background-color: red;
    color: white;
    font-weight: bolder;
    margin-right: 40px;
}

.resetSize {
    margin-left: 150px;
    margin-top: 15px;
}

.buttons {
    margin-left: 50px;
}

.size {
    font-weight: bolder;
}